/* Experience Split – layout and typography */
.xp-section { 
    width: 100%;
    padding: 6px 0;
    background: #ebebeb;
}
.xp-container { margin: 0 auto; }

@media screen and (max-width: 768px) {
    .xp-section {
        padding: 40px 0px;
    }
}


/* .xp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  gap: 32px;
  align-items: start;
} */

.xp-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  align-items: start;
}
.xp-grid_left {
  display: flex;
  column-gap: 30px;
}

.xp-left-heading {
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
  padding-top: 14px;
  font-weight: 700;
  font-family: "Stara", sans-serif !important;
}

.xp-middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.xp-number-wrap {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.xp-number {
  font-size: 112px;
  font-weight: 800;
  font-family: "Stara", sans-serif !important;
}

.xp-small {
  font-size: 48px;
  font-weight: 700;
  font-family: "Stara", sans-serif !important;
}

.xp-right {
  font-size: 16px;
  font-weight: 300;
  color: #111111;
  line-height: 1.7;
  font-family: "Myriad Pro", sans-serif !important;
}

/* Responsive */
@media (max-width: 786px) {
  .xp-grid {
    grid-template-columns: auto; /* left+middle on first row, right on second */
  }
  .xp-right {
    grid-column: 1 / -1; /* span both columns */
  }
  .xp-number { font-size: 118px; }
  .xp-small { font-size: 32px; }
}


/* MOBILE: "Erfahrungen   10+ / Jahre" in one row */
/* @media (max-width: 768px) {
  .xp-grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 4px !important;
    flex-direction: column;
  }
  .xp-grid_left{
    display: flex;
    gap: 6px;
  }

  /* left + middle = first row */
  /* .xp-left {
    flex: 1 1 auto;
    margin-right: 5px;
  }

  .xp-left-heading {
    margin: 0;
  }

  .xp-middle {
    flex: 1 1 auto;
    text-align: right;
  }

  .xp-number-wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start !important;
    line-height: 1.05;
  }

  .xp-number {
    display: block;
    font-size: 100px;
  }

  .xp-small {
    display: block;
    font-size: 38px;
  } */

  /* right text = full row below */
  /* .xp-right {
    flex: 0 0 100%;
    margin-top: 16px;
  } */
/* } */ 

@media (max-width: 640px) {
  .xp-middle { justify-content: flex-start; }
  .xp-number { font-size: 90px; }
  .xp-small { font-size: 38px; }
  .xp-left-heading {         font-size: 28px;
        letter-spacing: 0px; }
  .xp-right { font-size: 15px; }
}

/* Dark Mode */
body.dark-mode .xp-section {
  background: #111!important;
}
